*.bin filter=lfs diff=lfs merge=lfs -text
**/dataset/**/*.npy filter=lfs diff=lfs merge=lfs -text
**/dataset/**/*.npz filter=lfs diff=lfs merge=lfs -text
**/models/**/*.pth filter=lfs diff=lfs merge=lfs -text
**/models/**/*.pt filter=lfs diff=lfs merge=lfs -text
**/models/*.pth filter=lfs diff=lfs merge=lfs -text
